body {
    margin:0;
    box-sizing: border-box;
    padding-bottom: 70px;
    margin-top: 50px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-color: #626262;
  line-height: 24px;
}
    

a {
  color: #626262; }
  a:hover {
    color: #FFC107; 
    }

button{
    margin:20px;
        
    }

.navbar {
    text-transform:uppercase;
    margin-bottom: 0;
    padding: 5px;
    background-color: #262626;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #35fd21 !important;
    background-color: none !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#mainNav .navbar-header a:hover {
    opacity: 0.7; }

header{
    background-image: url(/images/1.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #fff;
/*    height: 90vh;*/
}

header:hover {
/*    background-size: 110% 110%;*/
/*    filter:brightness(80%);*/
}

header .intro-text {
  padding-top: 70px;
  padding-bottom: 50px;
}


header .intro-text .intro-lead-in  {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 25px;   
}

header .intro-text .intro-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

 

.glyphicon glyphicon-menu-down{
    color: #000;
    font-size = 50px;
    }

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  header .intro-text .intro-lead-in {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: 'Lato', sans-serif;
   text-transform: uppercase;
    font-weight: 700;
    font-size: 85px;
    line-height: 85px;
    margin-bottom: 50px;
  }
}

section{
    padding-bottom: 100px;
    }

/*
#leftNav{
    position: fixed;
}
*/

#introduction img{
    padding:20px;
}

#introduction p{
    font-size: 20px;
    font-weight: 600;
}



.article {
    border: none;
    border-radius: 0;
    padding:20px;
    background: #fff;


}

.article img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}


#pomocEksperta {
    background-color: #efebeb;
}

.u1{
    background-image: url(/images/pic1.jpg);
}

#porady {
    background-color: #efebeb;
}







